html {
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    background-color: black;
    min-height: 100%;
}

.clickable {
    cursor: pointer;
}

md-input-container + .md-button {
    height: 1em;
}

.category {
    margin-left: 1em;
    margin-right: 1em;
}

.category-header {
    color: white;
}

.category-tiles md-card {
    width: 17em;
    height: 7em;
}
