html {
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    background-color: black;
    min-height: 100%;
}

.clickable {
    cursor: pointer;
}

md-input-container + .md-button {
    height: 5px;
}

.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
}

.button-active {
    background-color: rgba(0,0,0,0.098392);
}

.edit-tile-popup {
    font-size: 24pt;
}

.category {
    margin-left: 1em;
    margin-right: 1em;
}

.category-header {
    color: white;
}

.category-tiles md-card {
    width: 200px;
    height: 110px;
}

.category-tiles .tile-selected {
    width: 220px;
    height: 130px;
    margin-top: -1px;
    margin-left: -1px;
}
