<md-dialog ng-attr-aria-label='controller.ariaLabel'>
    <div ng-if='controller.text' class='md-dialog-content'>
        {{ controller.text }}
    </div>
    <div ng-if='controller.dialogActions' layout="row" layout-align="center space-between">
        <md-button ng-bind-attr-aria-label='action.caption + " Button"'
            ng-repeat='action in controller.dialogActions track by $index' ng-class='{"button-active": controller.action === $index}'>
            {{ action.caption }}
            <md-icon ng-if='action.icon'>{{ action.icon }}</md-icon>
        </md-button>
    </div>
</md-dialog>
