html {
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    background-color: black;
    min-height: 100%;

    /* Disable scrolling the body as we want to scroll categories. */
    overflow-y: hidden;
}

/* Globally disable showing the scrollbar as we'll be using the keyboard
 * or controller to scroll. */
::-webkit-scrollbar {
    display: none;
}

.viewport ng-view > div {
    min-height: 100%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.clickable {
    cursor: pointer;
}

/* This is a litte weird, but if we don't have *some* kind of padding, the
 * container itself seems to get a margin of some kind. At least, the
 * background doesn't stretch to the top of the toolbar properly.
 */
.background-container {
    padding-top: 1px;
}

md-input-container + .md-button {
    height: 5px;
}

.no-content-card > img {
    max-width: 650px;
    max-height: 433px;
}

.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
}

.button-active {
    background-color: rgba(0,0,0,0.098392);
}

.edit-tile-popup {
    font-size: 24pt;
}

.category {
    margin-left: 1em;
    margin-right: 1em;
}

.category-header {
    color: white;
}

.category-header .category-selected {
    font-size: 2em;
}

.category-header .category-disabled {
    -webkit-filter: blur(1px) grayscale(0.4);
}

.category-tiles *:focus {
    outline: none;
}

.category-tiles {
    overflow-x: scroll;
    overflow-y: hidden;
}

.category-tiles md-card {
    width: 220px;
    min-width: 220px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-size: 220px 110px;
}

.category-tiles md-card div {
    margin: 0;
    height: 110px;
    line-height: 110px;
    font-size: 16pt;
}

.category-tiles md-card .tile-image {
    padding: 30px;
}

.category-tiles md-card div span {
  display: inline-block;
  vertical-align: middle;

  line-height: normal;
}

.category-tiles .tile-selected {
    width: 250px;
    min-width: 250px;
    height: 130px;
    margin-top: -1px;
    margin-left: -1px;
    background-size: 250px 130px;
}

.category-tiles .tile-selected {
    height: 130px;
    line-height: 130px;
}

.category-tiles .tile-selected .tile-image {
    padding: 40px;
}

#cancel-category-editing-button {
    position: fixed;
    bottom: 5em;
    right: 3em;
}
